<div class="nav">
  <nav>
    <a routerLink="/index">Home</a>      
    <a routerLink="/form-servicos">Agende um Serviço</a>
  </nav>
  <br>
</div>
  <div class="divListas">
    <table border="5">
      <tr>
        <td>Nossos Serviços:</td>
        <td>Valores</td>
      </tr>
      <tr *ngFor='let lista of tiposServico'>
        <td>{{lista.nome}}</td>
        <td>{{lista.valor | moeda}}</td>
      </tr>
      
    </table> 
  </div> 
  <br>
  <div>
    <a routerLink="/form-servicos">Agendar</a>
  </div>
  <div>
    <p>
      <a routerLink="/index">Voltar</a>
    </p>
  </div>