<div class="nav">
  <nav>
    <a routerLink="/index">Home</a>      
    <!-- <a routerLink="/lista-tipo-servicos">Nossos Serviços</a> -->
    <a routerLink="/form-servicos">Agende um Serviço</a>
    <a>Cadastre-se</a>
  </nav>
  <br>
</div>
  <div class="divListas">
    <table border="5">
      <tr>
        <td>Nossos Serviços:</td>
      </tr>
      <tr>
        <td>Serviço a</td>
      </tr>
      <tr>
        <td>Serviço b</td>
      </tr>
      <tr>
        <td>Serviço c</td>
      </tr>
    </table> 
  </div> 
  <br>
  <div>
    <a routerLink="/form-servicos">Agendar</a>
  </div>
  <div>
    <p>
      <a routerLink="/index">Voltar</a>
    </p>
  </div>