<nav>
  <div class="divListas">
    <table border="5">
      <tr>
        <td>Cliente</td>
        <td></td>
      </tr>
      <tr>          
        <td><a routerLink="/lista-servicos">Lista de Serviços</a></td>
        <td><a ></a></td>
      </tr> 
      <tr>
        <td>Cliente</td>
        <td></td>
      </tr>
      <tr>          
        <td><a>Lista de Clientes </a></td>
        <td><a>Novo</a></td>
      </tr> 
    </table> 
  </div>
  <div>
    <p>
      <a routerLink="/index">Voltar</a>
    </p>
  </div>
</nav>