<!-- <h3>{{title}}</h3> -->
<div class="table">
  <table>
    <tr>
      <th>Código</th> 
      <th>Nome</th> 
      <th>CPF</th> 
      <th>Telefone</th>
      <th>Data de Nascimento</th>
      <th>Especialidade</th>
      <th>Editar</th> 
      <th>Remover</th>
    </tr>
    <tr *ngFor='let funcionario of funcionarios'>          
      <td>{{funcionario.codigo}}</td> 
      <td>{{funcionario.nome}}</td>
      <td>{{funcionario.cpf}}</td> 
      <td>{{funcionario.telefone}}</td>    
      <td>{{funcionario.dataNascimento}}</td>    
      <td>{{funcionario.especialidade}}</td>    
      <td>
        <a [routerLink]="['/edicao-funcionario', funcionario.codigo]">
          <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
        </a>
      </td>
      <td>
        <a routerLink="/lista-funcionarios" (click)="remover(funcionario)">
          <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
        </a>
      </td>
    </tr>
  </table>
</div>
<div class="buttons">
  <input type="button" (click)="voltar()" value="VOLTAR">
  <input type="button" (click)="adicionar(funcionario)" value="NOVO">
</div>    