<div class="table">
    <header>Lista de Clientes</header>         
    <table>
        <tr>
          <th>Código</th> 
          <th>Nome</th> 
          <th>CPF</th> 
          <th>Telefone</th>
          <th>Email</th>
          <th>Editar</th> 
          <th>Remover</th>
        </tr>
        <tr *ngFor='let cliente of clientes'>          
            <td>{{cliente.codigo}}</td> 
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td> 
            <td>{{cliente.telefone}}</td>    
            <td>{{cliente.email}}</td>    
            <td>
                <a [routerLink]="['/edicao-cliente', cliente.codigo]">
                    <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
                </a>
            </td>
            <td>
                <a routerLink="/lista-clientes" (click)="remover(cliente)">
                    <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
                </a>
            </td>
         </tr>       
  </table>
</div>
<div class="buttons">
    <input type="button" (click)="voltar()" value="VOLTAR">
    <input type="button" (click)="adicionar(cliente)" value="NOVO">
</div>    