<nav>
  <div class="divListas">
    <table border="5">
      <tr>
        <td>Funcionário</td>
        <td></td>
      </tr>
      <tr>          
        <td><a routerLink="/lista-funcionarios">Lista de Funcionários</a></td>
        <td><a routerLink="/novo-funcionario">Novo</a></td>
      </tr> 
      <tr>
        <td>Cliente</td>
        <td></td>
      </tr>
      <tr>          
        <td><a routerLink="/lista-clientes">Lista de Clientes </a></td>
        <td><a routerLink="/novo-cliente">Novo</a></td>
      </tr> 
    </table> 
  </div>
  <div>
    <p>
      <a routerLink="/index">Voltar</a>
    </p>
  </div>
</nav>