<nav>
  <table border="5">
    <tr>
      <td>Funcionario</td>
      <td></td>
    </tr>
    <tr>          
      <td><a routerLink="/lista-funcionarios">Tabela Funcionarios</a></td>
      <td><a routerLink="/novo-funcionario">Novo Funcionario</a></td>
    </tr> 
    <tr>
      <td>Cliente</td>
      <td></td>
    </tr>
    <tr>          
      <td><a routerLink="/lista-clientes">Tabela Clientes </a></td>
      <td><a routerLink="/novo-cliente">Novo Cliente</a></td>
    </tr> 
  </table>  
</nav>