nav {
    padding-right: 30px;
    background-color: lightgray;
    height: 40px;
}

.nav { 
    padding-top: 35px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
}