<div class ="form">
  <form>
    <header>Cadastro de Cliente</header>

    <label for="nome">Nome</label>
    <input type ="text" 
           id="nome" 
           name="nome" 
           placeholder="Nome" 
           [(ngModel)]="cliente.nome">

    <label for="cpf">CPF</label>
    <input type="text" 
           id="cpf" 
           name="cpf" 
           placeholder="CPF"
           mascara="999.999.999-99" 
           [(ngModel)]="cliente.cpf">

    <label for="telefone">Telefone</label>
    <input type="text" 
           id="telefone" 
           name="telefone" 
           placeholder="Telefone" 
           mascara="(99)99999-9999"
           [(ngModel)]="cliente.telefone">

    <label for="email">Email</label>
    <input type="text" 
           id="email" 
           name="email" 
           placeholder="Email" 
           [(ngModel)]="cliente.email">

    <div class="alert alert-error" role="alert" *ngIf="hasError">
        <b>Erro:</b> Verifique os campos digitados. 
    </div>

    <div class="buttons">
      <input type="button" (click)="salvarCliente()" value="SALVAR">
      <input type="button" (click)="cancelar()" value="LIMPAR">
      <input type="button" (click)="voltar()" value="VOLTAR">
    </div>   
  </form>
</div>