.main {
    width: 100%;
    padding-top: 200px;;
}

.option {
    width: 50%;
    float: left;
    text-align: center;
}

a {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: lightcoral;
}