<div class ="form">
    <form>
      <label for="nome">Nome</label>
      <input type ="text" id="nome" name="nome" placeholder="Nome" [(ngModel)]="funcionario.nome">
  
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" placeholder="CPF" [(ngModel)]="funcionario.cpf">
  
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" placeholder="Telefone" [(ngModel)]="funcionario.telefone">
  
      <label for="dataNascimento">Data de Nascimento</label>
      <input type="text" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento" [(ngModel)]="funcionario.dataNascimento">
  
      <label for="especialidade">Especialidade</label>
      <input type="text" id="especialidade" name="especialidade" placeholder="Especialidade" [(ngModel)]="funcionario.especialidade">
  
      <div class="buttons">
        <input type="button" (click)="salvarFuncionario()" value="SALVAR">
        <input type="button" (click)="cancelar()" value="LIMPAR">
      </div>
      <div class="buttons">
        <input type="button" (click)="voltar()" value="VOLTAR">
      </div>
    </form>
  </div>